body {
	font-family: 'Arial', sans-serif;
	/* background-color: grey; */
	margin: auto;
}

header {
	text-align: center;
	background-color: #3B4483;
	color: white;
	padding: 5px;
}

form {
	width: 40%;
	margin: auto;
	margin-top: 15px;
	/* background-color: white; */
	padding: 15px;
	/* border-radius: 5px; */
	/* box-shadow: 3px 3px 5px; */
	text-align: center;
}

.button {
	background-color: #616BB8;
	border: 3px solid #616BB8;
	border-radius: 3px;
	font-size: 18px;
}

footer{
	margin: 0;
	padding: 15px;
	background-color: grey;
	color: white;
	text-align: center;
}

footer a {
	color: white;
}