body {
	font-family: 'Arial', sans-serif;
	background-color: grey;
	margin: auto;
}

header {
	text-align: center;
	background-color: #3B4483;
	color: white;
	padding: 5px;
}

form {
	width: 40%;
	margin: auto;
	margin-top: 15px;
	background-color: white;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 3px 3px 5px;
	text-align: center;
}

.button {
	background-color: hsl(233, 38%, 55%);
	border: 3px solid hsl(233, 38%, 55%);
	color: black;
	border-radius: 3px;
	font-size: 18px;
}

footer{
	margin: 0;
	padding: 15px;
	color: white;
	text-align: center;
}

footer a {
	color: white;
}